<div class="banner">
    <h1>{{'contact.title' | translate}}</h1>
</div>

<div class="formulario">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/img/folleto.jpg" alt="" srcset="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <form action="https://formspree.io/mjvagljn" method="POST">
                    <div class="row">
                        <div class="col-xl-12 inpt">
                            <input type="text" class="form-control" placeholder="{{'contact.name' | translate}}">
                        </div>
                        <div class="col-xl-12 inpt">
                            <input type="text" class="form-control" placeholder="{{'contact.phone' | translate}}">
                        </div>
                        <div class="col-xl-12 inpt">
                            <input type="text" class="form-control" placeholder="{{'contact.email' | translate}}" name="_replyto">
                        </div>
                        <div class="col-xl-12 inpt">
                            <textarea name="message" id="" cols="62" rows="4" placeholder="{{'contact.message' | translate}}"></textarea>
                        </div>
                        <div class="col-xl-12 inpt text-right">
                            <button type="submit" class="btn btn-lg">{{'contact.button' | translate}}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-xl-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7898.299006461715!2d-74.09740772520368!3d4.662418302034998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3be6315115eb2df!2sComplejo%20Deportivo%20El%20Salitre!5e0!3m2!1ses!2sco!4v1590035979546!5m2!1ses!2sco"
                    width="1100" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>
        </div>
    </div>
</div>