<section class="about">
    <div class="container  about__us">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="text-center title"> {{'about.title1' | translate}}</h2>
            </div>
            <div class="col-xl-4 about__logo">
                <img src="../../../assets/img/logo2.png" alt="LogoEmpresa" class="about__image">
                <img src="../../../assets/img/logo_nombre.png" alt="NombreEmpresa" class="about__image">
            </div>

            <div class="col-xl-4 mt-5 offset-xl-2">

                <p class="pt-2">
                    {{'about.text1' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>
<div class="row mt-5 about__motivate">
    <div class="container">
        <div class="col-xl-12">
            <h2 class="text-center title__motivation">{{'about.title2' | translate}}</h2>
        </div>


        <div class="row">
            <div class="col-xl-4 offset-xl-2 motivation ">
                <ul>
                    <li> <i data-feather="check"></i> {{'about.text2' | translate}}</li>
                    <li>{{'about.text3' | translate}}</li>
                    <li>{{'about.text4' | translate}}</li>
                    <li> {{'about.text5' | translate}}</li>
                </ul>
            </div>
            <div class="col-xl-5 ">
                <img src="../../../assets/img/motivacion2.png" alt="" class="img-fluid">
            </div>

        </div>
    </div>
</div>
<div class="row mt-5 about__search">
    <div class="container">
        <div class="col-xl-11 text-center ">
            <h2 class="text-right title__search">
                {{'about.title3' | translate}}
            </h2>
        </div>

        <div class="col-xl-4  offset-xl-7 ">
            <p>
                {{'about.text6' | translate}}
            </p>
        </div>
    </div>
</div>

<div class="row mt-5 mb-5 organigrama">
    <div class="col-xl-12">
        <h2 class="text-center title__motivation">{{'about.title4' | translate}}</h2>
    </div>
    <div class="col-xl-12">
        <img src="../../../assets/img/organigrama.png" alt="" srcset="" class="img-fluid">
    </div>
</div>