<div class="banner">
    <h1>{{'services.title' | translate}}</h1>
</div>
<section class="services mb-5" id="service">
    <div class="container pt-2 ">
        <h5 class="pt-5">{{'services.title1' | translate}}</h5>

        <div class="row pt-5">
            <div class="col-xl-6">
                <img src="../../../assets/img/preparacionFisica.jpg" alt="" srcset="" class="img-fluid">

                <h4 class="pt-3"> {{'services.subtitle1' | translate}}</h4>
                <ul>
                    <li>
                        {{'services.item1' | translate}}
                    </li>
                    <li>
                        {{'services.item2' | translate}}
                    </li>
                    <li>
                        {{'services.item3' | translate}}
                    </li>
                </ul>
            </div>

            <div class="col-xl-6">
                <img src="../../../assets/img/baloncesto.jpg" alt="" srcset="" class="img-fluid">
                <h4 class="pt-3"> {{'services.subtitle2' | translate}}</h4>
                <ul>
                    <li>
                        {{'services.opt1' | translate}}

                    </li>
                    <li>
                        {{'services.opt2' | translate}}

                    </li>
                    <li>
                        {{'services.opt3' | translate}}

                    </li>
                </ul>

            </div>

        </div>
        <hr>
        <h5 class="pt-5">{{'services.title2' | translate}}</h5>

        <div class="row mt-5">
            <div class="col-xl-6">
                <!--  <img src="../../../assets/img/preparacionFisica.jpg" alt="" srcset="" class="img-fluid"> -->


                <h4>{{'services.subtitle3' | translate}} </h4>
                <ul>
                    <li>
                        {{'services.opcion1' | translate}}

                    </li>
                    <li>
                        {{'services.opcion2' | translate}}

                    </li>

                </ul>

            </div>

            <div class="col-xl-6">
                <!-- <img src="../../../assets/img/tennis.jpg" alt="" srcset="" class="img-fluid"> -->
                <h4>{{'services.subtitle4' | translate}} </h4>
                <ul>
                    <li>
                        {{'services.text1' | translate}}
                    </li>

                    <li>
                        {{'services.text2' | translate}}
                    </li>
                </ul>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xl-6">

                <!-- <img src="../../../assets/img/preparacionFisica.jpg" alt="" srcset="" class="img-fluid"> -->

                <h4>{{'services.subtitle5' | translate}} </h4>
                <ul>
                    <li>
                        {{'services.text3' | translate}}

                    </li>
                    <li>
                        {{'services.text4' | translate}}
                    </li>

                </ul>

            </div>
            <div class="col-xl-6">
                <!-- <img src="../../../assets/img/tennis.jpg" alt="" srcset="" class="img-fluid"> -->
                <h4>{{'services.subtitle6' | translate}}</h4>
                <ul>
                    <li>
                        {{'services.text5' | translate}}
                    </li>
                    <li>
                        {{'services.text6' | translate}}

                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>