<div class="banner">
    <h1>{{'plans.title' | translate}}</h1>
</div>
<section class="pricing pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="title">{{'plans.subtitle' | translate}}</h5>
            </div>
            <!-- Free Tier -->
            <div class="col-lg-4 offset-lg-2 pt-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title  text-uppercase text-center">{{'plans.text1' | translate}}</h5>
                        <h6 class="card-price text-center">$30.000<span class="period"></span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text2' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text3' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text4' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text5' | translate}} </li>
                            <li><span class="fa-li"><i class="fas fa-times"></i></span>{{'plans.text6' | translate}}</li>
                        </ul>
                        <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                    </div>
                </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4 pt-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title  text-uppercase text-center">{{'plans.text7' | translate}}</h5>
                        <h6 class="card-price text-center">$250.000<span class="period">/{{'plans.text8' | translate}}</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text9' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text3' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text10' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text11' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text5' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text6' | translate}}</li>
                        </ul>
                        <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                    </div>
                </div>
            </div>
            <!-- Pro Tier -->

        </div>
    </div>


</section>
<div class="pricing pricing_Preparacion mb-5">
    <div class="container  pt-5 pb-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="title">{{'plans.subtitle2' | translate}}</h5>
            </div>
            <!-- Free Tier -->
            <div class="col-lg-4 offset-lg-2 pt-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title  text-uppercase text-center">{{'plans.text1' | translate}}</h5>
                        <h6 class="card-price text-center">$30.000<span class="period"></span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text12' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text13' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text3' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text5' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-times"></i></span>{{'plans.text6' | translate}}</li>
                        </ul>
                        <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                    </div>
                </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4 pt-2">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title  text-uppercase text-center">{{'plans.text7' | translate}}</h5>
                        <h6 class="card-price text-center">$170.000<span class="period">/{{'plans.text8' | translate}}</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text14' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text3' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text15' | translate}}
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text10' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text11' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text5' | translate}}</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{'plans.text6' | translate}}
                            </li>
                            <!--  <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
                        </ul>
                        <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                    </div>
                </div>
            </div>
            <!-- Pro Tier -->

        </div>
    </div>
</div>

<div class="programas mt-5 mb-5">

    <div class="container ">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="title">{{'plans.subtitle3' | translate}}</h2>
            </div>
        </div>
    </div>

    <div class="item text-center">

        <div class="  item__hipertrofia ">

            <h5>{{'plans.program1' | translate}}</h5>
        </div>


        <div class=" item__entrenamiento ">
            <h5 [innerHTML]="'plans.program2' | translate"></h5>
        </div>

        <div class=" item__crossfit ">

            <h5>{{'plans.program3' | translate}}</h5>
        </div>
        <div class="item__resistencia ">
            <h5>{{'plans.program4' | translate}}</h5>
        </div>
        <div class="item__group ">
            <h5 [innerHTML]="'plans.program5' | translate">
            </h5>
        </div>
        <div class="item__yoga ">
            <h5>{{'plans.program6' | translate}}</h5>
        </div>
        <div class="item__cardio ">
            <h5>{{'plans.program7' | translate}}</h5>
        </div>

    </div>



</div>

<div class="pricing gym mb-5">

    <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-3">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title  text-uppercase text-center">{{'plans.tarifa1' | translate}}</h5>


                    <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title  text-uppercase text-center">{{'plans.tarifa2' | translate}}</h5>
                    <h6 class="card-price text-center">$70.000<span class="period">/{{'plans.text8' | translate}}</span></h6>

                    <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title  text-uppercase text-center">{{'plans.tarifa3' | translate}}</h5>
                    <h6 class="card-price text-center">$380.000<span class="period">/6 {{'plans.text16' | translate}}</span></h6>

                    <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title  text-uppercase text-center">{{'plans.tarifa4' | translate}}</h5>
                    <h6 class="card-price text-center">$500.000<span class="period">/{{'plans.text17' | translate}}</span></h6>

                    <a routerLink="/contact" class="btn btn-block text-uppercase">{{'plans.button' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</div>