<section class="philosophy pt-5">
    <div class="philosophy__text">
        <h1> "{{'philosophy.title' | translate}}"</h1>
    </div>
</section>

<section class=" mision  pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 ">

                <h2 class="title">{{'philosophy.subtitle1' | translate}}</h2>
                <p class="mision__text" [innerHTML]="'philosophy.text1' | translate">
                </p>
            </div>
            <div class="col-xl-6">
                <img src="../../../assets/img/mision.jpg" alt="" class="img-fluid mision__image">
            </div>
        </div>
    </div>
</section>

<div class="vision mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 ">
                <img src="../../../assets/img/vision.jpg" alt="" class="img-fluid mision__image">
            </div>
            <div class="col-xl-6 pt-3 ">
                <h2 class="title">{{'philosophy.subtitle2' | translate}}</h2>
                <p class="vision__text">{{'philosophy.text2' | translate}}
                </p>
            </div>
        </div>
    </div>

</div>
<div class="objective ">
    <div class="container ">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="title">{{'philosophy.subtitle3' | translate}}</h2>
            </div>
        </div>
    </div>

    <div class="item text-center">

        <div class="  item__employ ">

            <h5>{{'philosophy.objetive1' | translate}}</h5>
        </div>


        <div class=" item__healt ">
            <h5>{{'philosophy.objetive2' | translate}}</h5>
        </div>

        <div class=" item__abilities ">

            <h5>{{'philosophy.objetive3' | translate}}</h5>
        </div>
        <div class="item__projection ">
            <h5>{{'philosophy.objetive4' | translate}}</h5>
        </div>
        <div class="item__motivation ">
            <h5>{{'philosophy.objetive5' | translate}}</h5>
        </div>
    </div>


</div>

<div class="principios mt-5 mb-5 ">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-12 ">
                <h2 class="title">{{'philosophy.subtitle4' | translate}}</h2>
            </div>

        </div>
        <div class="row content">

            <div class="principio">

                <div class=" principio__image1 photo">
                    <!--  <img src="../../../assets/img/trabajoEquipo.jpg" alt="" srcset="" class="img-fluid"> -->
                </div>
                <h5 class="text-center principio__text">{{'philosophy.item1' | translate}}</h5>
            </div>
            <div class="principio">

                <div class=" principio__image2 photo">
                    <!--  <img src="../../../assets/img/trabajoEquipo.jpg" alt="" srcset="" class="img-fluid"> -->
                </div>
                <h5 class="text-center principio__text">{{'philosophy.item2' | translate}}</h5>
            </div>
            <div class="principio">

                <div class=" principio__image3 photo">
                    <!--  <img src="../../../assets/img/trabajoEquipo.jpg" alt="" srcset="" class="img-fluid"> -->
                </div>
                <h5 class="text-center principio__text">{{'philosophy.item3' | translate}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="valores ">
    <div class="container ">
        <div class="row ">
            <div class="col-xl-12 ">
                <h2 class="title">{{'philosophy.subtitle5' | translate}}</h2>

            </div>
        </div>
    </div>
    <div class="valor">
        <div class=" col-xl-4 valor__container light">
            <img src="../../../assets/img/compromiso.png" alt="" srcset="">
            <h5>{{'philosophy.value1' | translate}}</h5>

        </div>
        <div class=" col-xl-4 valor__container dark">

            <img src="../../../assets/img/honestidad.png" alt="" srcset="">
            <h5>{{'philosophy.value2' | translate}}</h5>
        </div>
        <div class="col-xl-4 valor__container  light">

            <img src="../../../assets/img/respeto.png" alt="" srcset="">
            <h5>{{'philosophy.value3' | translate}}</h5>
        </div>
    </div>

</div>